//output:skin.xml
mixin ma(attr,val)
  attribute(config_key='[Master],'+attr)= val
mixin pa(attr,val)
  attribute(persist='true',config_key=attr)= val
  
doctype skin
skin
  manifest
    title Nykto
    author Sergey Ukolov
    version 1.12.0.01
    description
    language en
    license Creative Commons Attribution, Share-Alike 3.0 Unported
    attributes
      // Init number of available widgets
      +ma('num_decks', 4)
      +ma('num_samplers', 16)
      +ma('num_preview_decks', 1)
      // Init elements visibility
      - var n = 1
      while n <= 4
        +pa('[Spinny'+n+++'],show_spinny', 1)
      +pa('[Samplers],show_samplers', 0)
      +pa('[Microphone],show_microphone', 0)
      +pa('[Vinylcontrol],show_vinylcontrol', 0)
      +pa('[PreviewDeck],show_previewdeck', 0)
      +pa('[Library],show_library', 1)
      +pa('[Library],show_coverart', 0)
  ObjectName Mixxx
  Style/(src='skin:style.qss')
  MinimumSize -1,-1
  Layout horizontal
  Children
    Template(src='skin:widgets/deck.xml')
      SetVariable(name='group') Channel1
    Template(src='skin:widgets/mixer.xml')
    Template(src='skin:widgets/deck.xml')
      SetVariable(name='group') Channel2
