//output:button-stiff.xml
extends ./template.jade
block comment
  //
    Description:
      A button with label.
    Variables:
      group: The group to connect to.
      control: The control to connect to.
      label: Label text.
block template
  +group('StiffButtonOuter','stacked','44f,19f')
    PushButton
      ObjectName StiffButton
      Size 44f,19f
      Pos 0,36
      NumberStates 2
      RightClickIsPushButton true
      State
        Number 0
        Pressed widgets/button/stiff/overlay.svg
        Unpressed
      State
        Number 1
        Pressed widgets/button/stiff/overlay.svg
        Unpressed
      Connection
        ConfigKey [<Variable name="group"/>],<Variable name="control"/>
        EmitOnPressAndRelease true
        ButtonState LeftButton
    +group('LabelWithShadow','stacked','','[<Variable name="group"/>],<Variable name="control"/>','not')
      +group('StiffButtonLabelContainer','vertical')
        Label
          ObjectName StiffButtonLabel
          Size f,f
          Text: Variable/(name='label')
      +group('StiffButtonLabelShadowContainer','vertical')
        Label
          ObjectName StiffButtonLabelShadow
          Size f,f
          Text: Variable/(name='label')
    +group('','stacked','','[<Variable name="group"/>],<Variable name="control"/>')
      +group('','vertical')
        Label
          ObjectName StiffButtonLabelPressed
          Size f,f
          Text <Variable name="label"/>
    PushButton
      ObjectName StiffButton
      Size 44f,19f
      Pos 0,36
      NumberStates 2
      RightClickIsPushButton true
      State
        Number 0
        Pressed widgets/button/stiff/bg.svg
        Unpressed widgets/button/stiff/bg.svg
      State
        Number 1
        Pressed widgets/button/stiff/bg_pressed_white.svg
        Unpressed widgets/button/stiff/bg_pressed_white.svg
      Connection
        ConfigKey [<Variable name="group"/>],<Variable name="control"/>
        EmitOnPressAndRelease true
        ButtonState LeftButton
