//output:buttongroup-bg.xml
extends ./template.jade
block comment
  //
    Description:
      A ButtonGroupBG.
block template
  +group('ButtonGroupBG','stacked','me,me')
    +group('ButtonGroupBGRecess','stacked','me,me')
