//output:deck.xml
extends ./template.jade
block comment
  //
    Description:
    A deck. 
block template
  +group('DeckTransport', 'horizontal', 'me,56f')
    +group('ButtonGroup', 'stacked', 'f,f')
      +group('ButtonGroupContainer', 'horizontal', 'f,f')
        +template('button-soft')
          +set('control','reverse')
          +set('right-control','reverseroll')
          +set('indicator','reverse')
          +set('symbol','reverse')
          +set('colour-group','Transport')
          +set('size','24f,46f')
        +template("button-soft")
          +set('control','play')
          +set('right-control','cue_set')
          +set('indicator','play_indicator')
          +set('symbol','play')
          +set('colour-group','Transport')
          +set('size','48f,46f')
      +template('buttongroup-bg')
    +group('ButtonGroup', 'stacked', 'f,f')
      +group('ButtonGroupContainer', 'horizontal', 'f,f')
        +template('button-soft')
          +set('control','cue_default')
          +set('right-control','cue_gotoandstop')
          +set('indicator','cue_indicator')
          +set('symbol','cue')
          +set('colour-group','Cue')
          +set('size','35f,46f')
        +template("button-soft")
          +set('control','beats_translate_curpos')
          +set('right-control','beats_translate_match_alignment')
          +set('indicator','beats_translate_curpos')
          +set('symbol','grid')
          +set('colour-group','Dark')
          +set('size','35f,46f')
      +template('buttongroup-bg')
