//output:knob.xml
extends ./template.jade
block comment
  //
    Description:
      A knob with label-button.
    Variables:
      group: The group to connect to.
      control: The control rotary connect to.
      label: Label text.
      button_control: The control button with label connect to.
block template
  +group('','','40f,52f')
    +group('KnobBackgroundBig','','40f,48f','','','0,2')
      KnobComposed
        Size 40f,40f
        Pos 0,0
        Knob widgets/knob/big/stroke.svg
        BackPath
        MinAngle -135
        MaxAngle 135
        Connection
          ConfigKey [<Variable name="group"/>],<Variable name="control"/>
      Knob
        NumberStates 91
        Path widgets/knob/big/arc<Variable name="color"/>/arc_%1.svg
        Pos 0,0
        Connection
          ConfigKey [<Variable name="group"/>],<Variable name="control"/>
      PushButton
        ObjectName UnderknobButton<Variable name="color"/>
        Size 40f,15f
        Pos 0,36
        NumberStates 2
        RightClickIsPushButton true
        State
          Number 0
          Text
            +get('label')
          Pressed(scalemode="STRETCH_ASPECT")
          Unpressed(scalemode="STRETCH_ASPECT")
        State
          Number 1
          Text
            +get('label')
          Pressed(scalemode="STRETCH_ASPECT")
          Unpressed(scalemode="STRETCH_ASPECT")
        Connection
          ConfigKey [<Variable name="button_group"/>],<Variable name="button_control"/>
          EmitOnPressAndRelease true
          ButtonState LeftButton
