//output:mixer-section-xfader.xml
extends ./template.jade
block comment
  //
    Description:
      A mixer x-fader section.
block template
  +group('XFader','stacked','me,56f')
    SliderComposed
      Handle widgets/slider/slider-handle-horizontal.svg
      Slider
      SizePolicy f,f
      MinimumSize 52,52
      MaximumSize -1,52
      Horizontal true
      Connection
        ConfigKey [Master],crossfader
    +group('XFaderMeterContainer','horizontal')
      +group('XFaderMeterBG','stacked','me,2f')
        VuMeter
          PathVu(scalemode="STRETCH") widgets/slider/slider-vu-fill-horizontal-righthalf.svg
          SizePolicy me,min
          MinimumSize 30,2
          MaximumSize -1,2
          Horizontal true
          PeakHoldSize 0
          PeakHoldTime 200
          PeakFallTime 20
          PeakFallStep 1
          Connection
            ConfigKey [Master],crossfader
    +group('XFaderStrokesContainer','horizontal')
      +group('XFaderRangeStroke','','17f,52f')
      +group('ExpanderVertical','','me,1f')
      +group('XFaderRangeStroke','','17f,52f')
      +group('ExpanderVertical','','me,1f')
      +group('XFaderRangeStroke','','17f,52f')
