//output:mixer-section-level.xml
extends ./template.jade
block comment
  //
    Description:
      A mixer level section.
    Variables:
      section-group: The group to connect to.
block template
  +group('DeckLevels','vertical','f,me')
    +group('ContainerMid','vertical','f,me')
      +template('slider-vu-peak')
        +set('control','volume')
        +set('vu','VuMeter')
        +set('peak','PeakIndicator')
    +group('ContainerTop','vertical','f,f')
      +template('button-stiff')
        +set('control','pfl')
        +set('label','PFL')
      +group('','horizontal')
        +template('knob')
          +set('control','pregain')
          +set('button_group')
            +get('group')
          +set('button_control','mute')
          +set('label','Gain')
          +set('color','White')
